*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.container{
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 0.5rem;
    position: absolute;
    left: 50%;
    top: -10%;
    transform: translate(-50%,-10%);
    border-radius: 5px;
    background-color: whitesmoke;
    width: 21rem;
    height: auto;
    box-shadow: 0 1rem 2rem 0 rgba(119, 124, 124, 0.325), 0 6px 20px 0 rgba(117, 121, 121, 0.325);
    z-index: -1;
    opacity: 0;

}
.showcontainer{
    top: 10%;
    z-index: 1;
    opacity: 1;
}
.add_member_logo{
    align-items:center ;
    font-size: 2rem;
    font-weight: bold;
    font-family: consolas;
    color: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-image: url('add_button.png');
    background-size: cover;
    position: absolute;
    left: 90%;
    top: 94%;
    transform: translate(-80%,-80%);
    box-shadow: 0 1rem 2rem 0 rgba(119, 124, 124, 0.325), 0 6px 20px 0 rgba(117, 121, 121, 0.325);
}
.heading{
    margin-top: 0.1rem;
    padding: 0.9rem 0.5rem;
    color: white;
    width: 20rem;
    height: 3rem;
    margin-bottom: 0.5rem;
    background-color: green;
    border-radius: 5px;
    font-family: consolas;
    font-size: 1rem;
    font-weight: bold;
}
.contain_data{
    width: 20rem;
    height: 20rem;
    background-color: red;
}
.name{
    width: 5rem;
    height: 10rem;
    background-color: green;
}
.member_data_attendence{
    padding: 1rem 1rem;
    color: black;
    margin-bottom: 0.3rem;
    border-radius: 5px;
    border: 2px solid gray;
    width: 20rem;
    height: auto;
    background-color: whitesmoke;
    font-size: 1rem;
    font-family: consolas;
    font-weight: bold;
}
.Absent{
    margin-top: 0rem;
    /* top: 10%; */
    float: right;
    background-color: rgba(241, 50, 50, 0.652);
    width: 4.5rem;
    height: 2rem;
    padding: 0.2rem 0.5rem ;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    font-family: consolas;
}
.present{
    background-color: rgba(23, 193, 23, 0.493);
    border: 2px solid green;

}
.member_data{
    padding: 0.5rem 0.5rem;
    color: black;
    margin-bottom: 0.3rem;
    border-radius: 5px;
    border: 2px solid gray;
    width: 18rem;
    height: auto;
    background-color: whitesmoke;
    font-size: 1rem;
    font-family: consolas;
    font-weight: bold;
}
.take_attendence{
    margin: 0.8rem 4rem;
    margin-bottom: 0.1rem;
    margin-top: 2rem;
    padding: 0.2rem 0.2rem;
    font-size: 1rem;
    font-family: consolas;
    font-weight: bold;
    color: green;
    background-color: white;
    width: 9rem;
    border-radius: 5px;
    border: 2px solid green;
}
.take_attendence:hover{
    color: white;
    background-color: green;

}
.loginform{
    border-radius: 2rem;
    box-shadow: 0 3rem 4rem 0 rgba(0, 0, 0, 0.9), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    width: 23rem;
    height: 25rem;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.shwologinform{
    top: -60%;
    opacity: 0;
    z-index: -1;
    width: 0rem;
    height: 0rem;
}
.login_button_welcome{
    margin-bottom: 1rem;
    text-align: center;
    padding: 0.5rem 0.5rem;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
    background-color: rgb(58, 167, 217);
    color: black;
    width: 10rem;
    height: 2rem;
    border-radius: 2rem;

}
.login_button_welcome:hover{
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    font-weight: bold;
}
.form{
    background-color: white;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    width: auto;
    height: 12rem;
    padding: 0.5rem 0.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.hedinglgin{
    background-color: white;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 1rem;
    width: 20rem;
    height: auto;
    padding: 0.3rem 0.3rem;
    border-radius: 1rem ;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: consolas;
}
.login_label{
    font-size: 1.5rem;
    font-family: consolas;
    font-weight: bold;
}
.login_button{
    padding: 0.5rem 0.5rem;
    text-align: center;
    background-color: rgb(38, 170, 218);
    color: white;
    font-size: 1rem;
    font-family: consolas;
    width: 10rem;
    height: 2rem;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
    border-radius: 1rem ;
}
.login_button:hover{
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
}
.login_cover{
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.19);
    height: 100vh;
    z-index: 1;
    opacity: 1;
}
.hide_login_cover{
    opacity: 0;
    top: -120%;
    height: 0vh;
    width: 0%;
}

.input_tag{
    width: 15rem;
    height: 3rem;
    border-radius: 1rem;
    font-family: consolas;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
}
.member_add_interface{
    width: 10rem;
}
.group_add_interface{
    margin-top: 5rem;
    width: 20rem;
    height: auto;
    background-color: white;
    position: absolute;
    left: 50%;
    top: -150%;
    border-radius: 5px;
    transform: translate(-50%,-10%);
    z-index: -1;
    box-shadow: 0 1rem 2rem 0 rgba(2, 192, 2, 0.325), 0 6px 20px 0 rgba(2, 192, 2, 0.325);
    padding: 0.5rem 0.5rem;
    opacity: 0;
}
.show_group_add_interface{
    top: 10%;
    z-index: 1;
    opacity: 1;
}
.group_title{
    width: 19rem;
    height: 2.5rem;
    background-color: green;
    margin-bottom: 1rem;
    left: 2%;
    top: 2%;
    border-radius: 5px;
    font: 1.5em consolas;
    font-weight: bold;
    color: white;
    padding: 0.25rem 0.5rem;
    box-shadow: 0 1rem 2rem 0 rgba(82, 83, 82, 0.325), 0 6px 20px 0 rgba(82, 83, 82, 0.325);

}
.add_group_logo{
    align-items:center ;
    font-size: 2rem;
    font-weight: bold;
    font-family: consolas;
    color: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-image: url('add_button.png');
    background-size: cover;
    position: absolute;
    left: 90%;
    top: 94%;
    transform: translate(-80%,-80%);
    box-shadow: 0 1rem 2rem 0 rgba(2, 192, 2, 0.325), 0 6px 20px 0 rgba(2, 192, 2, 0.325);
}
.group_information{
    width: 19rem;
    height: auto;
    background-color: whitesmoke;
    border-radius: 5px;
    font: 1.5em consolas;
    font-weight: bold;
    color: white;
    padding: 0.25rem 0.5rem;
    box-shadow: 0 1rem 2rem 0 rgba(82, 83, 82, 0.325), 0 6px 20px 0 rgba(82, 83, 82, 0.325);
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.group_data{
    padding: 0.5rem 0.5rem;
    color: black;
    margin-bottom: 0.3rem;
    border-radius: 5px;
    border: 2px solid gray;
    width: 18rem;
    height: 3rem;
    background-color: whitesmoke;
    font-size: 1rem;
    font-family: consolas;
    font-weight: bold;
}
.group_dailog_box{
    width: 15rem;
    height: 25rem;
    background-color: whitesmoke;
    position: absolute;
    left: 50%;
    top: -150%;
    transform: translate(-50%,-50%);
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem 0 rgba(2, 192, 2, 0.325), 0 6px 20px 0 rgba(2, 192, 2, 0.325);
    opacity: 0;
}
.show_group_dailog_box{
    top: 50%;
    z-index: 1;
    opacity: 1;
}
.group_title1{
    width: 14.3rem;
    height: 2.5rem;
    background-color: green;
    position: absolute;
    left: 2%;
    top: 2%;
    border-radius: 5px;
    font: 1.5em consolas;
    font-weight: bold;
    color: white;
    padding: 0.25rem 0.5rem;
    box-shadow: 0 1rem 2rem 0 rgba(119, 124, 124, 0.325), 0 6px 20px 0 rgba(117, 121, 121, 0.325);
}
.group_details{
    box-shadow: 0 1rem 2rem 0 rgba(119, 124, 124, 0.325), 0 6px 20px 0 rgba(117, 121, 121, 0.325);
    padding-top: 0.5rem;
    width: 14rem;
    height: 18rem;
    background-color: whitesmoke;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}
.group_name{
    margin-left: 7%;
    font-size: 1rem;
    font-family: consolas;
    font-weight: bold;
}
.group_input{
    margin-left: 5%;
    font-family: consolas;
    height: 2rem;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
}
.day_input{
    margin-left: 5%;
}
.label_day{
    margin-left: 2%;
    font-weight: bold;
    font-size: 1rem;
    font-family: consolas;
}
.submit_butto{
    background-color: green;
    border-radius: 5px;
    padding: 0.3rem 0.3rem;
    font-family: consolas;
    font-weight: bold;
    color: white;
    width: 4rem;
    height: 2rem;
    position: absolute;
    left: 80%;
    top: 93%;
    transform: translate(-50%,-50%);
}
.submit_butto:hover, .cancel_button:hover{
    box-shadow: 0 1rem 2rem 0 rgba(3, 239, 50, 0.325), 0 6px 20px 0 rgba(3, 239, 50, 0.325);
}
.cancel_button{
    border-radius: 5px;
    border: 2px solid green;
    color: green;
    font-family: consolas;
    font-weight: bold;
    padding: 0.2rem 0.3rem;
    width: 4rem;
    height: 2rem;
    position: absolute;
    left: 40%;
    top: 93%;
    transform: translate(-50%,-50%);
}
h5{
    margin-left: 3%;
    font-family: consolas;
    font-weight: normal;
}
.group_add_cove{
    width: 0%;
    height: 0vh;
    background-color: rgb(232, 232, 232);
    position: fixed;
    top: 0%;
    z-index: -1;
    opacity: 0;
}
.cover_group_interface{
    background-color: rgba(0, 0, 0, 0.19);
    width: 0%;
    height: 0vh;
    position: fixed;
    top: 0%;
    z-index: -1;
    opacity: 0;
}
.show_cover{
    filter: blur(2px);
    top: 0%;
    width: 100%;
    height: 100vh;
    z-index: 1;
    opacity: 1;
}