*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* login_form start */
.loginform{
    border-radius: 2rem;
    box-shadow: 0 3rem 4rem 0 rgba(0, 0, 0, 0.9), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    width: 23rem;
    height: 25rem;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.shwologinform{
    top: -60%;
    opacity: 0;
    z-index: -1;
    width: 0rem;
    height: 0rem;
}
.login_button_welcome{
    margin-bottom: 1rem;
    text-align: center;
    padding: 0.5rem 0.5rem;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
    background-color: rgb(58, 167, 217);
    color: black;
    width: 10rem;
    height: 2rem;
    border-radius: 2rem;

}
.login_button_welcome:hover{
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    font-weight: bold;
}
.form{
    background-color: white;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    width: auto;
    height: 12rem;
    padding: 0.5rem 0.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.hedinglgin{
    background-color: white;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 1rem;
    width: 20rem;
    height: auto;
    padding: 0.3rem 0.3rem;
    border-radius: 1rem ;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: consolas;
}
.login_label{
    font-size: 1.5rem;
    font-family: consolas;
    font-weight: bold;
}
.login_button{
    padding: 0.5rem 0.5rem;
    text-align: center;
    background-color: rgb(38, 170, 218);
    color: white;
    font-size: 1rem;
    font-family: consolas;
    width: 10rem;
    height: 2rem;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
    border-radius: 1rem ;
}
.login_button:hover{
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
}
.login_cover{
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.19);
    height: 100vh;
    z-index: 1;
    opacity: 1;
}
.hide_login_cover{
    opacity: 0;
    top: -120%;
    height: 0vh;
    width: 0%;
}
.input_tag{
    width: 12rem;
    height: 2rem;
    border-radius: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: consolas;
    font-weight: 90;
}
/* login from ends */

/* group data and add group start */
.group_container_cover{
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0%;
    /* background-color: rgba(0, 0, 0, 0.19); */
    height: 100vh;
    z-index: 1;
    opacity: 1;
    position: absolute;
}
.show_group_container_cover{
    top: 0%;
    z-index: 1;
    opacity: 1;
}
.group_container{
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
    margin-top: 1rem;
    width: 23rem;
    min-height:20rem ;
    background-color: white;
    position: absolute;
}
.group_title{
    position: static;
    margin-left: 0.5rem;
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    width: 21rem;
    height: 3rem;
    font-size: 1.9rem;
    font-family: consolas;
    font-weight: bold;
    border-radius: 1rem;
    background-color: green;
    color: white;
}
.dynamic_create_div_for_group{
    margin-top: 10px;
    padding: 0.5rem 0.5rem;
    min-width: 18rem;
    min-height: 5rem;
    border: 2px solid green;
    border-radius: 1rem;
}
.take_attendence_button{
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 2rem;
    border: 2px solid green;
    border-radius: 10px;
    font-family: consolas;
    font-weight: bold;
    font-size: 1rem;
    color: green;
}
.take_attendence_button:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}
.take_attendence_background{
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0%;
}
.delete_button{
    float: right;
    background-image: url('delete.png');
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
}
.delete_button:hover{
    cursor: pointer;
}
.attendence_percentage{
    margin-top: 0.3rem;
    width: 15rem;
    height: 1rem;
    font-size: 0.8rem;
    font-family: consolas;
    font-weight: lighter;
    color: gray;
}
.add_group_logo{
    position: sticky;
    left: 85%;
    bottom: 2%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-image: url('add_button.png');
    background-size: cover;
}
.group_information{
    /* border: 2px solid black; */
    width: 22rem;
    height: 35rem;
    overflow: scroll;
}
.group_information::-webkit-scrollbar{
    display: none;
}
.logout{
    position: sticky;
    left: 85%;
    bottom: 2%;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-image: url('logout4.webp');
    background-size: cover;
}
/* group_information end */

/* add group start */
.add_group_cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: -500%;
    background-color: rgba(0, 0, 0, 0.19);
    height: 100vh;
    z-index: 1;
    opacity: 1;
    position: fixed;
}
.show_add_group_cover{
    top: 0%;
    z-index: 1;
    opacity: 1;
}
.add_group_dailog_box{
    /* margin-top: ; */
    border-radius: 1rem;
    border: 2px solid gray;
    width: 20rem;
    min-height: 23rem;
    background-color: white;
}
.add_group_heading{
    position: static;
    margin-top: 0.5rem;
    margin-left: 1rem;
    width: 18rem;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    background-color: green;
    color: white;
    font-size: 1.5rem;
    font-family: consolas;
    font-weight: bold;

}
.close_button{
    position: sticky;
    left: 85%;
    bottom: 2%;
    background-image: url('cross.png');
    background-size: cover;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}
.get-group_information{
    width: 15rem;
    /* border: 2px solid black; */
    margin-top: 1rem;
    margin-left: 1.5rem;
    padding: 0.5rem 0.5rem;
}
.get-group_information label{
    width: 100px;
    display: inline-block;
    margin-left: 0.1rem;
    font-size: 1rem ;
    font-family: consolas;
    font-weight: bold;

}
.get-group_information h4{
    font-size: 1rem;
    font-family: consolas;
    font-weight: bold;
    color: grey;
}
.get-group_information input{
    border-radius: 1rem;
    border: 2px solid black;
    padding: 0.2rem 0.5rem;
}
.add_button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin-left: 35%;
    width: 5rem;
    height: 2rem;
    border: 2px solid green;
    color: green;
    font-size: 1rem;
    font-family: consolas;
    font-weight: bold;
}
.add_button:hover{
    background-color: green;
    cursor: pointer;
    color: white;
}
.get-group_information input[type=checkbox]{
    accent-color: green;
}
/* add group end */

/* notification panel start */
.notification{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20rem;
    height: 3rem;
    background-color: red;
    border: 2px solid green;
    border-radius: 1rem ;
    font-size: 1rem;
    font-family: consolas;
    font-weight: bold;
    z-index: -1;
    opacity: 0;
}
.show_notification{
    top: 10%;
    z-index: 1;
    opacity: 1;
}
/* notification panel end */

/* Take attendence start */
.attendence_cover{
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0%;
    height: 100vh;
    z-index: 1;
    opacity: 1;
    position: absolute;
}
.attendence_container{
    /* border: 2px solid black; */
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 1rem;
    width: 23rem;
    height:38rem ;
    background-color: white;
    border-radius: 1rem ;
}
.attendence_heading{
    display: flex;
    align-items: center;
    width: 22rem;
    height: 2.5rem;
    background-color: green;
    color: white;
    font-size: 1.5rem;
    font-family: consolas;
    font-weight: bold;
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.2rem 0.5rem;
}
.attendence_data{
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    width: 22rem;
    height:32rem;
    overflow-y: scroll;
}
.attendence_data::-webkit-scrollbar{
    display: none;
}
.member_name{
    display: inline-flex;
    align-items: center;
    border-radius: 1rem;
    border: 2px solid green;
    padding: 0.5rem 0.5rem;
    min-height: 4rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-family: consolas;
    font-weight: 100;
    width: 22rem;

}
.add_member_logo{
    position: sticky;
    left: 80%;
    bottom: 2%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-image: url('add_button.png');
    background-size: cover;
}
.gobcak{
    position: sticky;
    left: 85%;
    bottom: 2%;
    background-image: url('back.jpg');
    background-size: cover;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

/* add member_details start */
.add_member_dailog_box_container_cover{
    background-color: rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    width: 100%;
    top: -250%;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    position: absolute;
}
.show_add_member_dailog_box_container_cover{
    top: 0%;
    z-index: 1;
    opacity: 1;
}
.add_member_dailog_box{
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 1rem;
    width: 20rem;
    height: 30rem;
    background-color: white;
    border-radius: 1rem ;
}
.add_member_heading{
    display: flex;
    align-items: center;
    width: 19rem;
    height: 2.5rem;
    background-color: green;
    color: white;
    font-size: 1.5rem;
    font-family: consolas;
    font-weight: bold;
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.2rem 0.5rem;
}
.cut_button{
    position: sticky;
    left: 85%;
    bottom: 2%;
    background-image: url('cross.png');
    background-size: cover;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}
.member_details{
    width: 19rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    height:25rem ;
}
.member_details form label{
    font-weight: bold;
    padding: 0.5rem;
    width: 103px;
    display: inline-flex;
}
.member_details form input{
    font-family: consolas;
    border-radius: 0.5rem;
    border: 2px solid green;
    padding: 0.3rem 0.3rem;
    outline: none;
}
.member_details form select{
    border: 2px solid green;
    border-radius: 0.5rem;
    font-family: consolas;
    outline: none;
    width: 10.7rem;
    padding: 0.3rem 0.3rem;
}
.member_details form textarea{
    outline: none;
    margin-top: 0.5rem;
    margin-left: 2rem;
    width: 15rem;
    height: 6rem;
    border-radius: 1rem;
    border: 2px solid green;
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
    font-family: consolas;
    font-weight:300 ;
}
.add_button_for_member{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 2rem;
    border: 2px solid green;
    color: green;
    border-radius: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-family: consolas;
    font-weight: bold;
    margin-top: 1rem;
}
.add_button_for_member:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}
.absent_div_formating{
    background-color: rgba(252, 191, 191, 0.713);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    color: red;
    border-radius: 1rem;
    font-size: 1rem;
    font-family: consolas;
    font-weight: bold;
    position: sticky;
    left: 80%;
    width: 4rem;
    height: 2.5rem;
}
.present_div_formatting{
    border: 2px solid green;
    background-color: rgba(20, 189, 20,0.09);
    color: green;
}
.normal_call_formating{
    background-image: url('call2.png');
    background-size: cover;
    margin-left: 2rem;
    background-color: red;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.member_name2{
    font-size: 1rem;
    font-family: consolas;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 10rem;
    height: 3rem;
    padding: 0.5rem 0.5rem;
}
/* add member_details end */
/* Take attendence end */