*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* login_form start */
.loginform{
    border-radius: 2rem;
    box-shadow: 0 3rem 4rem 0 rgba(0, 0, 0, 0.9), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    width: 23rem;
    height: 25rem;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.shwologinform{
    top: -60%;
    opacity: 0;
    z-index: -1;
    width: 0rem;
    height: 0rem;
}
.login_button_welcome{
    margin-bottom: 1rem;
    text-align: center;
    padding: 0.5rem 0.5rem;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
    background-color: rgb(58, 167, 217);
    color: black;
    width: 10rem;
    height: 2rem;
    border-radius: 2rem;

}
.login_button_welcome:hover{
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    font-weight: bold;
}
.form{
    background-color: white;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    width: auto;
    height: 12rem;
    padding: 0.5rem 0.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.hedinglgin{
    background-color: white;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 1rem;
    width: 20rem;
    height: auto;
    padding: 0.3rem 0.3rem;
    border-radius: 1rem ;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: consolas;
}
.login_label{
    font-size: 1.5rem;
    font-family: consolas;
    font-weight: bold;
}
.login_button{
    padding: 0.5rem 0.5rem;
    text-align: center;
    background-color: rgb(38, 170, 218);
    color: white;
    font-size: 1rem;
    font-family: consolas;
    width: 10rem;
    height: 2rem;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
    border-radius: 1rem ;
}
.login_button:hover{
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
}
.login_cover{
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.19);
    height: 100vh;
    z-index: 1;
    opacity: 1;
}
.hide_login_cover{
    opacity: 0;
    top: -120%;
    height: 0vh;
    width: 0%;
}
.input_tag{
    width: 12rem;
    height: 2rem;
    border-radius: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: consolas;
    font-weight: 90;
}
/* login from ends */

/* group data and add group start */
.group_container_cover{
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.19);
    height: 100vh;
    z-index: 1;
    opacity: 1;
    position: relative;
}
.show_group_container_cover{
    top: -250%;
    z-index: 1;
    opacity: 1;
}
.group_container{
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
    margin-top: 2rem;
    width: 20rem;
    min-height:20rem ;
    background-color: white;
    position: absolute;

}
.group_title{
    margin-left: 0.5rem;
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    width: 18rem;
    height: 2rem;
    font-size: 1.5rem;
    font-family: consolas;
    font-weight: bold;
    border-radius: 1rem;
    background-color: green;
    color: white;
}
.dynamic_create_div_for_group{
    margin-top: 10px;
    padding: 0.5rem 0.5rem;
    min-width: 18rem;
    min-height: 5rem;
    border: 2px solid green;
    border-radius: 1rem;
}

