.loginconatiner{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.loginform{
    background-color:white;
    width: 18rem;
    height: 27rem;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 0.5rem 0.5rem;

}
.hedinglgin{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: consolas;
    font-weight: bold;
    padding: 0.2rem 0.2rem;
    background-color: green;
    width: 17.5rem;
    height: 2rem;
    border-radius: 10px;
    color: white;
}
.form{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19.5rem;
    height: 18rem;
}
.login_label{
    font-family: consolas;
    font-size: 1rem;
    font-weight:bold;
}
.input_tag{
    font-size: 1rem;
    font-family: consolas;
    font-weight: bold;
    color: green;
    border: 0rem;
    outline: 0rem;
    border-bottom: 1.5px solid green;
}
.login_button{
    margin-top: 0.5rem;
    margin-left: 3rem;
    font-size: 1rem;
    font-family: consolas;
    font-weight: bold;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13rem;
    height: 2rem;
    border-radius: 10px;
    border: 2px solid green;
    cursor: pointer;
}
.login_button:hover{
    background-color: green;
    color: white;
}
nav{
    display: flex;
    padding: 0.5rem 0.5rem;
    background-color: rgb(3, 98, 3);
    width: 100%;
    height: 10rem;
}
nav h2{
    /* background-color: gray; */
    position: static;
    top: 10%;
    font-size: 3rem;
    font-family: consolas;
    font-weight: bold;
    color: white;
}
.menu{
    display: flex;
    justify-content: centre;
    align-items: center;
    position: sticky;
    top: 70%;
    left: 60%;
    width: 20rem;
    height: 4rem;
    /* background-color: blue; */
}
.menu ul{
    width: 20rem;
    list-style: none;
    position: relative;
    /* background-color: red; */
    display: inline-flex;
    align-content:right ;
}
.menu ul li{
    padding:0.7rem 0.7rem ;
}
.menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: consolas;
    font-weight: bold;
}
.menu ul li a:hover{
    color: rgb(14, 224, 224);
}
.login_text{
    margin-top: 0.9rem;
    font-size: 1rem;
    font-family: consolas;
    font-weight: bold;
}
